.card{
    background-color: hsl(225, 35%, 11%);
    box-shadow: none;
}

.cardHeader{
display: flex;
justify-content: center;
}

.cardBody{
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 10px;
    padding: 1rem;
}

.cardFooter{
    display: flex;
    justify-content: space-between;
}

/* @media (min-width: 768px){

} */


@media (min-width: 1024px){
    
}


@media (min-width: 1280px){
}